<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeriLLM</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>VeriLLM</h1>

        <p class="subtitle">
            LLM-Assisted Static Code Analyzer
        </p>

        <form method="POST">

            <textarea
                name="code"
                placeholder="Paste your Python/C/C++ code here..."
                required
            >{{ code }}</textarea>

            <button type="submit">
                Analyze Code
            </button>

        </form>

        {% if result %}

        <div class="result-box">

            <h2>Analysis Result</h2>

            <pre>{{ result }}</pre>

        </div>

        {% endif %}

    </div>

</body>
</html>